/* .container {
    width: 80%;
    margin: 0 auto;
} */

.lost-find-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    flex: 1;
    margin: 3em auto;
    /* position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.finder-nav {
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: space-evenly;
    font-size: 1rem;
    line-height: 1.5;
}

.finder-nav > span {
    cursor: pointer;
}

.on {
    border-bottom: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.active, .active+a {
    display: block !important;
}

.id-info, .id-info+a {
   display: none;
}

.pw-info, .pw-info+a {
   display: none;
}

.input-container {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.input-container input[type=text] {
    width: 100%;
    height: 30px;
    /* max-width: 300px; */
    padding: 0 16px;
    margin-bottom: 10px;
    border: 1px solid #919191;
    line-height: 1.5;
    color: #333;
    font-weight: lighter;
    font-size: 0.6rem;
    border-radius: 12px;
    outline: none;
}

.input-container input[type=text]:focus::placeholder {
    color: transparent;
}

.id-info + .btn, .pw-info + .btn {
    margin: 0 auto;
    border-radius: 15px;
    width: 60%;
    text-align: center;
    max-width: 200px;
}

@media screen and (min-width: 1040px) {
    .btn-back {
      display: none;
    }
  }
  


