ul{
    list-style: none;
}

/*----제목----*/

.title .big-title{
    text-align: center;
}

/* -----btn-list------ */
.btn-list{
    margin: auto;
    margin-top: 40px;
    margin-bottom:10px;
    padding: 0px 15px;

    display:flex;

    width: 300px;
    justify-content: space-between;
    align-items:flex-end;
}

.message-side{
    display:none;
}

/* -----aside----- */
@media screen and (min-width: 650px){
.message-main{
}
    .message-side{
        display:initial;
        position:absolute;
        left:30px;
        border: solid 1px #DCDCDC;
        border-radius:20px;
        width: 20%;
        padding: 20px 0px;
        font-size:14px;
    }
    .message-side a{
            color:#646464;
            display:flex;
            padding: 20px;
            justify-content: center;
        }
}


/* --------main section--------- */
.mess-box{
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    padding: 15px;

    width:300px;
    min-height: 70%;
    margin: auto;
    position: relative;
}

#sender{
    
    border-bottom: 1px solid #DCDCDC;
    padding:5px;
}

.mess-box #date{
    position:absolute;
    top:10px;
    right:10px;
    font-size:10px;
}
.mess-box #time{
    position:absolute;
    top:20px;
    right:10px;
    font-size:10px;
}
#title{
    font-size:25px;
    font-weight: bolder;
    border-bottom: 1px solid #DCDCDC;
    padding:10px;
}

#detail{
    padding-top:20px;
    font-size:smaller;
    color: #646464;
}