

/*----제목----*/
.title .big-title{
    text-align: center;
}

/* --------main section--------- */
main{
 margin:5px; 
}

.main-button{
    display:flex;
    flex-flow: column; 
    justify-content: center;
    align-items: center;
    margin-top:40px;
    margin-bottom: 70px;
}

.main-button a{
    display:block;
    line-height:10%;
    border: 1px solid #DCDCDC;
    border-radius: 40px;
    text-align: center;
    cursor: pointer;
    transition: all 0.4s;
    background-color: #F8F8F8;
    
    margin: 10px;
    padding: 20px;
}

.main-button a:hover{
    opacity: 0.7;
    background-color: var(--primary-color);
    color: white;
}
/* ---button style--- */

.account{
    margin-bottom:40px;
}

.profile{
    display:flex;
}

.name-email{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left:10px;
    height:40px;
}

.icon{    
    background: url(../../images/profile.png) no-repeat center;
    background-size: contain;
    width:40px;
    height:40px;
    border: 1px solid #979797;
    color: white;
    border-radius:13px;
}

#name{
    flex-basis:30px;
    line-height: 10px;
}

#email{
    flex-basis:10px;
    color:#979797;
    font-size:9px;
}

.account, .activity{
    width:90%;
}

.span{
    font-weight: bold;
}

@media screen and (min-width: 780px){
    .main-button{
        width: 400px;
    }
        .main-button>a{
            border-radius: 5px;
        }
}