/* -------359px 미만일 때-------- */
@media screen and (max-width: 359px){
    .table th:nth-child(5), td:nth-child(5){
        display:none;
    }
    
    .pager{
        padding: 8px 0px;
    }
    .sort, .main, .last-btn{
        margin:0px;
    } 
    .sort div{
        display:none;
    }
    main{
        white-space: nowrap;
    }
    }