/*----------- 페이저 ---------*/
.pager{
    display:flex;
    justify-content: center;
    font-size:10px;
    font-weight: bold;
    color:#979797;
    padding:10px;
}
    .pager>ul{
        padding:0px 5px;
        display:flex;
    }
    .pager>ul>li{
        list-style: none;
        padding:0px 3px;
    }

    .last-btn{
        display:flex;
        justify-content: space-between;
    }


/* -------359px 미만일 때-------- */
@media screen and (max-width: 359px){
    table th:nth-child(6), td:nth-child(6){
        display:none;
    }
    
    .pager{
        padding: 8px 0px;
    }

    .sort, .main, .last-btn{
        margin:1px;
    } 
    
    .sort div{
        display:none;
    }

    .pager{
        margin: 0px 5px;
    }
    
    main{
        white-space: nowrap;
    }
    }