ul {
    list-style: none;
    padding: 0;
  }
  
  
  
  /* main-content [s] */
  
  section.list {
    width: 80%;
    max-width: 780px;
    margin: 0 auto;
  }
  
  .list-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    padding: 1.5em;
  }
  
  .list-wrapper .item {
    padding: 1em;
    border: 1px solid #979797;
    cursor: pointer;
  }
  
  .list-wrapper .item > *:not(:first-child) {
    padding-top: 5px;
  }
  
  .list-wrapper .item:focus-within,
  .list-wrapper .item:hover {
    border: 0.15em solid var(--primary-color);
  }
  
  .study-description {
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .list-wrapper .period {
    font-size: 0.8rem;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    padding: 1em 0;
  }
  
  .info .user-info {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }
  
  .info .data-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1em;
  }
  
  .btn-group {
    display: flex;
    flex-flow: row wrap;
    gap: 2em;
    justify-content: center;
    align-items: center;    
  }
  
  .modify-btn {
    border-radius: 3em;
    background-color: var(--secondary-color) !important;
  }

  .delete-btn {
    border-radius: 3em;
    background-color: var(--tertiary-color) !important;
  }

  .empty-result {
    display: none;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 5em;
  }
  
  .more {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    cursor: pointer;
  }
  
  .more-btn {
    width: 200px;
    color: var(--secondary-color);
    margin: 0 auto;
    padding: 10px 15px;
    font-size: 1.3rem;
  }

  .pager {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: .5em;
      margin-bottom: 2em;
  }

  .pager a {
      color: var(--primary-color);
  }
  
  .pager a.current-page {
      font-weight: bold;
      color: var(--secondary-color);
  }
  
  
  /* main-content [e] */
  
  /* Primary main content[s] */
  /* Primary main content[e] */
  
  /* responsive */
  @media screen and (min-width: 780px) {
  }
  