.study-board-wrapper {
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.study-board-btn {
    width: 100%;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 5px;
    padding: 10px;
}

.btn-group {
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    row-gap: 10px;
    padding: 5px;
}

.btn-group a {
    width: 100%;
    background-color: #fff;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 5px 10px;
    display: block;
}


/* responsive */

@media screen and (min-width: 780px) {
    .study-board-btn {
        width: 100%;
    }

    .btn-group {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .btn-group > a {
        width: 100%;
    }
}